<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weghst.pine.repository.UserRepository">

    <insert id="save" parameterType="com.weghst.pine.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(mobile, email, password, mobileValid, emailValid, createdTime)
        VALUES (#{mobile}, #{email}, #{password}, #{mobileValid}, #{emailValid}, UNIX_TIMESTAMP())
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM t_user WHERE id=#{value}
    </delete>

    <update id="update" parameterType="com.weghst.pine.domain.User">
        UPDATE t_user SET mobile=#{mobile}, email=#{email}, password=#{password}, mobileValid=#{mobileValid}, emailValid=#{emailValid} WHERE id=#{id}
    </update>

    <update id="updateEmailValid" parameterType="map">
        update t_user set emailValid=#{emailValid} where email=#{email}
    </update>

    <select id="getById" parameterType="int" resultType="com.weghst.pine.domain.User">
        select * from t_user where id=#{value}
    </select>

    <select id="getByEmail" parameterType="string" resultType="com.weghst.pine.domain.User">
        select * from t_user where email=#{value}
    </select>

    <select id="getByMobile" parameterType="string" resultType="com.weghst.pine.domain.User">
        select * from t_user where mobile=#{value}
    </select>

</mapper>