<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2015 The Weghst Inc. (kevinz@weghst.com)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.weghst.pine"/>
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="idleConnectionTestPeriod" value="60"/>
        <property name="idleMaxAge" value="240"/>
        <property name="maxConnectionsPerPartition" value="30"/>
        <!--<property name="minConnectionsPerPartition" value="10"/>-->
        <property name="minConnectionsPerPartition" value="1"/>
        <property name="partitionCount" value="3"/>
        <property name="acquireIncrement" value="5"/>
        <!--<property name="statementsCacheSize" value="100"/>-->
        <property name="releaseHelperThreads" value="3"/>
    </bean>

    <!--
        事务配置, 事务方法命名规范
            insert -> save*
            update -> update*
            delete -> delete*
            select -> get*/find*
    -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- One single JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!-- Liquibase config -->
    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="classpath:db/changelog-master.xml"/>
        <property name="rollbackFile"
                  value="${java.io.tmpdir}/db.rollback.#{ T(java.lang.System).currentTimeMillis() / 1000 }.sql"/>
    </bean>

    <!-- Pine configuration -->
    <bean id="configurationService" class="com.weghst.pine.service.impl.ConfigurationServiceImpl"/>

    <import resource="classpath:spring-pine-core.xml"/>

    <bean id="jedis" class="redis.clients.jedis.Jedis">
        <constructor-arg type="java.lang.String" value="localhost"/>
        <constructor-arg type="int" value="6379"/>
    </bean>

    <bean id="mailSender" class="com.weghst.pine.service.JavaMailSenderFactoryBean">
        <property name="host" value="smtp.mxhichina.com"/>
        <property name="port" value="25"/>
        <property name="username" value="noreplay@weghst.com"/>
        <property name="password" value="njSzbjie0+"/>
    </bean>



    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- +++++++++++++++                   Web Config                    +++++++++++++++ -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Import basic SpringMVC Resteasy integration -->
    <import resource="classpath:springmvc-resteasy.xml"/>

    <bean id="resteasy.handlerMapping" parent="abstract.resteasy.handlerMapping">
        <property name="prefix" value="/d"/>
    </bean>

    <!-- View Jackson ObjectMapper -->
    <bean id="viewObjectMapper" class="com.weghst.pine.web.ViewObjectMapperFactory"
          factory-method="getObjectMapper"/>

    <!-- Resteasy Jackson ObjectMapper config -->
    <bean class="com.weghst.pine.web.ObjectMapperContextResolver"/>

    <!-- freemarker config -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="templateLoaderPath" value="/WEB-INF/templates/"/>
    </bean>

    <!--
        View resolvers can also be configured with ResourceBundles or XML files. If you need
        different view resolving based on Locale, you have to use the resource bundle resolver.
    -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <property name="suffix" value=".ftl"/>
    </bean>

</beans>
