<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2015 The Weghst Inc. (kevinz@weghst.com)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        FreeMarker 模板引擎配置
     -->
    <bean id="pine.core.freemarker.configuration"
          class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="preferFileSystemAccess" value="false"/>
        <property name="templateLoaderPaths">
            <list>
                <value>/</value>
            </list>
        </property>
    </bean>
    <bean id="pine.core.templateEngine" class="com.weghst.pine.template.FreemarkerTemplateEngine">
        <property name="configuration" ref="pine.core.freemarker.configuration"/>
    </bean>

    <!--
        Redis 连接配置
     -->
    <bean id="pine.core.redisConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${pine.redis.host}"/>
        <property name="port" value="${pine.redis.port}"/>
    </bean>
    <bean id="pine.core.redisKeySerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
    <bean id="pine.core.kryoRedisSerializer" class="com.weghst.pine.util.redis.KryoRedisSerializer"/>
    <bean id="pine.core.redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="enableDefaultSerializer" value="false"/>
        <property name="connectionFactory" ref="pine.core.redisConnectionFactory"/>
        <property name="keySerializer" ref="pine.core.redisKeySerializer"/>
        <property name="hashKeySerializer" ref="pine.core.redisKeySerializer"/>
        <property name="valueSerializer" ref="pine.core.kryoRedisSerializer"/>
        <property name="hashValueSerializer" ref="pine.core.kryoRedisSerializer"/>
    </bean>

    <bean id="pine.core.mailSender" class="com.weghst.pine.service.JavaMailSenderFactoryBean"/>

</beans>
